{% load i18n %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}{% comment %}
Copyright 2013 Leandro Regueiro

This file is part of Thesaurus-editor.

Thesaurus-editor is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Thesaurus-editor is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
Thesaurus-editor. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% trans "Thesaurus editor" %}</title>
    <link href="{{ STATIC_PREFIX }}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_PREFIX }}css/styles.css" rel="stylesheet" />
</head>
<body class="body-with-tool-bar" data-offset="100">
    
    
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="{% url thesaurus_home %}">{% trans "Thesaurus editor" %}</a>
            <div class="nav-collapse" id="main-menu">
                <ul class="nav" id="main-menu-left">
                    <li><a href="{% url thesaurus_export %}"><i class="icon-download-alt icon-white"></i> {% trans "Export" %}</a></li>
                    <li><a href="{% url thesaurus_import %}"><i class="icon-upload icon-white"></i> {% trans "Import" %}</a></li>
                </ul>
                <ul class="nav nav-secondary pull-right">
                    <li>
                        <a href="{% url thesaurus_help %}" id="show-help"><i class="icon-info-sign icon-white"></i> {% trans "Help" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
       <div class="row-fluid">
            {% block sidebar %}{% endblock %}{% comment %}<!-- TODO remove this -->{% endcomment %}
            
            <div id="word-content">
                {% block content %}{% endblock %}
                
                <div class="copyright clearfix">
                    <div class="pull-left">
                        <strong>{% trans "Thesaurus editor - &copy; 2013" %}</strong> {% trans "by" %} <a href="mailto:leandro.regueiro@gmail.com">Leandro Regueiro</a>{% blocktrans %}. Licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GNU GPLv3</a> license.{% endblocktrans %}
                    </div>
                    <div class="pull-right">
                        <ul>
                            <li><a href="{% url thesaurus_help %}">{% trans "Help" %}</a></li>{% comment %}
                            <!--<li><a href="{% url thesaurus_terms %}">{% trans "Terms of service" %}</a></li>-->{% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="{{ STATIC_PREFIX }}js/libraries/jquery.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/libraries/bootstrap.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/libraries/jquery.hotkeys.js"></script>
    <script src="{{ STATIC_PREFIX }}js/thesaurus-editor.common.js"></script>
    {% block additional_jquery_scripts %}{% endblock %}
</body>
</html>
