{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2013 Leandro Regueiro

This file is part of Thesaurus-editor.

Thesaurus-editor is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Thesaurus-editor is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
Thesaurus-editor. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block content %}
    <div class="word-header clearfix">
        <h2 class="span5">{% trans "Help" %}</h2>
    </div>

    <div class="row-fluid clearfix">
        <div class="span6">
            <p>{% blocktrans %}Thesaurus-editor allows you to import words, stablish relationships between words, and export this data.{% endblocktrans %}</p>
            
            <h5>{% blocktrans %}Word relationships{% endblocktrans %}</h5>
            <p>{% blocktrans %}There are several available relationship types:{% endblocktrans %}</p>
            <ul>
                <li><strong>{% blocktrans %}Synonym{% endblocktrans %}</strong></li>
                <li><strong>{% blocktrans %}Antonym{% endblocktrans %}</strong></li>
                <li><strong>{% blocktrans %}Related:{% endblocktrans %}</strong>{% blocktrans %} for stablishing another kind of relationship.{% endblocktrans %}</li>
            </ul>
            
            <p>{% blocktrans %}For each kind of relationship type, a given word can have several different relationships or meanings, which in fact correspond to different concepts.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Getting words{% endblocktrans %}</h5>
            <p>{% blocktrans %}You can get words to relate from:{% endblocktrans %}</p>
            
            <ul>
                <li>{% blocktrans %}Search results obtained through search for a word by using the «Search» form.{% endblocktrans %}</li>
                {% comment %}<!--<li>{% blocktrans %}The «Suggestions» tab which provides machine-suggested words (based on word similarity) or user-suggested words.{% endblocktrans %}</li>
                -->{% endcomment %}
            </ul>

            <p>{% blocktrans %}Click in any list item for marking it as active and use any of the the buttons or keyboard shortcuts for performing an action.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Search behavior{% endblocktrans %}</h5>
            <p>{% blocktrans %}The live search will start working when at least 3 characters are typed in the search field. If you want to force a search for a word with less than 3 characters you may hit the 'Enter' key in your keyboard or press the 'Search' button.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}In the case that some previous results are shown, but less than 3 characters are typed, for example by deleting some of the characters that originated the search results, the results wouldn't be refreshed unless explicitly forced by hitting the 'Enter' key or pressing the 'Search' button. Anyway, when the search field is empty the search results will be flushed away automatically.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Adding new meanings{% endblocktrans %}</h5>
            <p>{% blocktrans %}As is told a few lines above, each word can have up to three kinds of relationships, and for each of these kinds of relationships it might have several meanings, were every particular meaning corresponds to a different concept.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Once a list of available words is displayed, for example after searching, you may navigate it and create a new meaning in which the current word and the active word in the word list are put together. This can be done by pressing the appropiate key on the keyboard while the desired word is active in the word list.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Adding a word to an existing meaning{% endblocktrans %}</h5>
            <p>{% blocktrans %}In order to add a word to an existing meaning is necessary to get this meaning being selected. Once such a selected meaning exists you only have to select an active word in the search results, and press the appropiate shortcut key to add the word to the selected meaning.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}If no meaning is selected, nothing will happen when trying to add the active word to a selected meaning.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Marking/unmarking a word as finalized{% endblocktrans %}</h5>
            <p>{% blocktrans %}As your work of creating relationships progresses you may want to know which words have all its relationships already set. In order to do that you can mark a word as finalized by using the appropiate keyboard shortcut (look below) when being in that word page. Of course you can also revert this status by unmarking it by using another keyboard shortcut.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}When a word is marked as finalized it is hightlighted in a greenish color in every place it appears: in the word list, in the search results and the meanings. Also, if you visit a finalized word details page you will see that most of the page has a greenish background.{% endblocktrans %}</p>
            
            
            <h5>{% blocktrans %}Importing words{% endblocktrans %}</h5>
            <p>{% blocktrans %}Thesaurus editor allows to import new words by providing them in a text file, UTF-8 encoded, with one word per line. In order to perform the import you should go to the import page, select the file in the form and push the 'Import' button.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Note that depending of how many words are in the file it could take a while to import all of them, so be patient.{% endblocktrans %}</p>
            
            <p><span class="label label-important">{% blocktrans %}Important{% endblocktrans %}</span> {% blocktrans %}Remember that the files should be UTF-8 encoded!{% endblocktrans %}</p>
            
            
            
            <h4>{% blocktrans %}Keyboard shortcuts{% endblocktrans %}</h4>
            <p>{% blocktrans %}For quicker usage you can perform actions by using your keyboard.{% endblocktrans %}</p>
            
            <table class="table table-striped table-bordered">
                <thead>
                    <th>{% blocktrans %}Keys{% endblocktrans %}</th>
                    <th>{% blocktrans %}What they do{% endblocktrans %}</th>
                </thead>
                <tr>
                    <td>{% blocktrans %}A{% endblocktrans %}</td>
                    <td>{% blocktrans %}Creates a new antonyms meaning and adds the active word to it.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}S{% endblocktrans %}</td>
                    <td>{% blocktrans %}Creates a new synonyms meaning and adds the active word to it.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}R{% endblocktrans %}</td>
                    <td>{% blocktrans %}Creates a new related words meaning and adds the active word to it.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}C{% endblocktrans %}</td>
                    <td>{% blocktrans %}Adds the active word to the currently selected meaning (whichever it is).{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}P{% endblocktrans %}</td>
                    <td>{% blocktrans %}Mark the current word as finalized.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}U{% endblocktrans %}</td>
                    <td>{% blocktrans %}Unmark the current word as finalized.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}F{% endblocktrans %}</td>
                    <td>{% blocktrans %}Put the focus on the search input.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}E{% endblocktrans %}</td>
                    <td>{% blocktrans %}Export the current word list.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}I{% endblocktrans %}</td>
                    <td>{% blocktrans %}Go to the import page.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}H{% endblocktrans %}</td>
                    <td>{% blocktrans %}Shows this help dialog.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Enter{% endblocktrans %}</td>
                    <td>{% blocktrans %}When the focus is in the search field, triggers the search.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Down{% endblocktrans %}</td>
                    <td>{% blocktrans %}Makes active the next word in the search results.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Up{% endblocktrans %}</td>
                    <td>{% blocktrans %}Makes active the previous word in the search results.{% endblocktrans %}</td>
                </tr>
                {% comment %}<!--<tr>
                    <td>{% blocktrans %}Right{% endblocktrans %}</td>
                    <td>{% blocktrans %}Goes to the next word page.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Left{% endblocktrans %}</td>
                    <td>{% blocktrans %}Goes to the previous word page.{% endblocktrans %}</td>
                </tr>
                -->{% endcomment %}<tr>
                    <td>{% blocktrans %}Home{% endblocktrans %}</td>
                    <td>{% blocktrans %}Goes to the word list.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Ctrl + Down{% endblocktrans %}</td>
                    <td>{% blocktrans %}Selects the next meaning, independently of the relationship type.{% endblocktrans %}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Ctrl + Up{% endblocktrans %}</td>
                    <td>{% blocktrans %}Selects the previous meaning, independently of the relationship type.{% endblocktrans %}</td>
                </tr>
            </table>
            
        </div>
    </div>
{% endblock %}
