{% load i18n %}{% comment %}
Copyright 2013 Leandro Regueiro

This file is part of Thesaurus-editor.

Thesaurus-editor is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Thesaurus-editor is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
Thesaurus-editor. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}{% for relationship in word.retrieve_related_words %}
    <li id="{{ relationship.pk }}"><strong>{% blocktrans with number=forloop.counter %}Meaning {{ number }}:{% endblocktrans %}</strong>
    {% for related_word in relationship.words %}
        <span class="word">
            <a href="{% url thesaurus_word pk=related_word.pk %}">{{ related_word }}</a>
            <!--<a href="{% url thesaurus_remove_word_from_relationship relationship=relationship.pk word=related_word.pk %}">--><i class="icon-trash icon-white"></i><!--</a>-->
        </span>
    {% endfor %}
    </li>
{% empty %}
    <li class="muted">{% blocktrans with word=word.word %}{{ word }} has no related words.{% endblocktrans %}</li>
{% endfor %}
