{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2013 Leandro Regueiro

This file is part of Thesaurus-editor.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Thesaurus-editor.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}
<div class="word-header clearfix">
    <h2 class="span5">{{ word.word }}</h2>
    <div class="btn-toolbar pull-right right">
        <div class="btn-group">
            <a href="#" class="btn" rel="tooltip" data-original-title="{% trans "Go to the previous word" %}"><i class="icon-chevron-left"></i></a>
            <a href="#" class="btn" rel="tooltip" data-original-title="{% trans "Go to the next word" %}"><i class="icon-chevron-right"></i></a>
        </div>
    </div>
</div>

<div class="row-fluid clearfix">
    <div class="span6">
        <h5>{% trans "Synonyms" %}</h5>
        <div class="synonyms clearfix">
            <ul class="related-words">
            {% for relationship in word.retrieve_synonyms %}
                <li><strong>Meaning {{ forloop.counter }}:</strong>
                {% for related_word in relationship %}
                    <span class="word"><a href="{% url thesaurus_word pk=related_word.pk %}">{{ related_word }} 
                    
                    {% comment %}
                    <!--<a href="{% url thesaurus_delete_word_from_relationship relationship=relationship.pk word=related_word.pk %}">-->
                    <!-- TODO o problema con esta ligazón é que non conseguimos obter a clave da relación para poder eliminar a palabra da relación -->
                    {% endcomment %}
                    
                    <i class="icon-trash icon-white"></i>
                    
                    {% comment %}<!--</a>-->
                    {% endcomment %}
                    
                    
                    </a></span>
                {% endfor %}
                </li>
            {% empty %}
                <li class="muted">{{ word.word }} has no synonyms.</li>
            {% endfor %}
            </ul>
        </div>
        
        <h5>{% trans "Antonyms" %}</h5>
        <div class="antonyms clearfix">
            <ul class="related-words">
            {% for relationship in word.retrieve_antonyms %}
                <li><strong>Meaning {{ forloop.counter }}:</strong>
                
                </li>
            {% empty %}
                <li class="muted">{{ word.word }} has no antonyms.</li>
            {% endfor %}
            </ul>
        </div>
        
        <h5>{% trans "Related" %}</h5>
        <div class="related clearfix">
            <ul class="related-words">
            {% for relationship in word.retrieve_related_words %}
                <li><strong>Meaning {{ forloop.counter }}:</strong>
                
                </li>
            {% empty %}
                <li class="muted">{{ word.word }} has no related words.</li>
            {% endfor %}
            </ul>
        </div>
        
    </div>
    
    <div class="span6" id="word-provider">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#server" data-toggle="tab">{% trans "Search" %}</a></li>
            <!--<li><a href="#suggestions" data-toggle="tab">Suggestions</a></li>--><!-- TODO -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="server">
                <!--<div class="loading">{% trans "Loading..." %}</div>-->


                <div class="input-append">
                    <form class="form-search">
                        <input type="search" class="input-medium" id="appendedInputButton" placeholder="{% trans "Search for a word..." %}">
                        <button type="submit" class="btn">{% trans "Search" %}</button>
                    </form>
                </div>
                
                
                
                <ul class="nav nav-list bs-docs-sidenav">
                    <li><a href="#">domicilio</a></li>
                    <li class="active"><a href="#">lar
                    
                    
                    <div class="btn-group pull-right">
                        <button class="btn btn-mini" tooltip="Add this as synonym">S</button>
                        <button class="btn btn-mini">A</button>
                        <button class="btn btn-mini">R</button>
                    </div>
                    
                    </a></li>
                    <li><a href="#">morada</a></li>
                    <li><a href="#">vivenda</a></li>
                </ul>
                
                
            </div>
            <div class="tab-pane" id="suggestions">
                 <!--TODO MySQL levenshtein distance: http://www.jisaacks.com/find-similar-products-in-mysql-using-levenshtein-distance -->
                <div class="loading">{% trans "Loading..." %}</div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block additional_jquery_scripts %}
    <script src="{{ STATIC_PREFIX }}js/libraries/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_PREFIX }}js/libraries/jquery.hotkeys.js"></script>
    <script src="{{ STATIC_PREFIX }}js/thesaurus-editor.js"></script>
{% endblock %}
