{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% comment %}
Copyright 2013 Leandro Regueiro

This file is part of Thesaurus-editor.

Thesaurus-editor is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Thesaurus-editor is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
Thesaurus-editor. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}
                <div class="word-header clearfix">
                    <h2 class="span5">{% trans "Word list" %}</h2>
                </div>

                <div class="row-fluid clearfix">
                    <div class="span6">
                        {% if is_paginated %}
                        <p>{% blocktrans with page_number=page_obj.number total_pages=paginator.num_pages start_word=page_obj.start_index|intcomma end_word=page_obj.end_index|intcomma %}Page <strong>{{ page_number }}</strong> of <strong>{{ total_pages }}</strong>: words <strong>{{ start_word }}</strong> to <strong>{{ end_word }}</strong>.{% endblocktrans %}</p>
                        {% else %}
                        <p>{% blocktrans %}Page <strong>1</strong> of <strong>1</strong>:{% endblocktrans %} {% if words %}{% blocktrans with num_words=words|length %}words <strong>1</strong> to <strong>{{ num_words }}</strong>{% endblocktrans %}{% else %}{% blocktrans %}There are no words{% endblocktrans %}{% endif %}.</p>
                        {% endif %}
                        
                        <ul id="word-list">
                        {% for word in words %}
                            <li{% if word.finalized %} class="finalized"{% endif %}><a href="{% url thesaurus_word pk=word.pk %}">{{ word.word }}</a></li>
                            {% comment %}<!-- TODO put an image instead of list item bullet -->{% endcomment %}
                        {% empty %}
                            <li class="muted">{% blocktrans %}There are no words.{% endblocktrans %}</li>
                        {% endfor %}
                        </ul>
                        
                        {% if is_paginated %}
                        <div class="pagination pagination-centered">
                            {% comment %}<!-- TODO change code for support errors when passing a number page greater than the existing pages number -->{% endcomment %}
                            <ul>
                                <li{% if not page_obj.has_previous %} class="disabled"><a href="">&laquo;</a>{% else %}><a href="{% url thesaurus_home %}?page={{ page_obj.previous_page_number }}">&laquo;</a>{% endif %}</li>{% for number in paginator.page_range %}
                                <li{% if page_obj.number == number %} class="active"{% endif %}><a href="{% url thesaurus_home %}?page={{ number }}">{{ number }}</a></li>{% endfor %}
                                {% comment %}<!-- TODO change this for showing only a few numbers around the current one if there is too much pages. -->{% endcomment %}
                                <li{% if not page_obj.has_next %} class="disabled"><a href="">&raquo;</a>{% else %}><a href="{% url thesaurus_home %}?page={{ page_obj.next_page_number }}">&raquo;</a>{% endif %}</li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
{% endblock %}
